<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Alkalami&family=Bungee+Shade&family=Bungee+Spice&family=Poppins:ital,wght@1,600&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'page3.css' %}">
</head>
<body class="body3">
    <div class="big-box">
        <p class="topic"> Welcome to favourite.events</p> 
    </div>

    <div class="eve-2nd-box">
        <p class="edu-bang-topic"> Charity events Everywhere </p>
    </div>
    <div>
        <p class="edu-all-clo"><u>Upcoming Events </u></p>
    </div>
    <div class="edu-all-img">
        <div>
            <img class="edu-bang-img" src="{% static 'schedular/BangCha1.webp' %}" >
            <form action="ChaBangDetails1">
                <button class="event-view"> view here </button>
               </form>
        </div>
        <div>
            <img  class="edu-bang-img" src="{% static 'schedular/MumbCha2.webp' %}" >
            <form action="ChaMumbDetails2">
                <button class="event-view"> view here </button>
               </form>
        </div>
        
        </div>

    <div class="clo-events">
        <p class="edu-all-clo"><u>Closed Events </u></p>
    </div>

    <div class="edu-all-img">
    <div>
        <img class="edu-bang-img" src="{% static 'schedular/BangCha2.webp' %}" >
        <form action="ChaBangDetails2">
            <button class="event-view"> view here </button>
           </form>
    </div>
    <div>
        <img  class="edu-bang-img" src="{% static 'schedular/MumbCha1.webp' %}" >
        <form action="ChaMumbDetails1">
            <button class="event-view"> view here </button>
           </form>
    </div>
    
    </div>
    <div class="edu-all-img">
        <div>
            <img class="edu-bang-img" src="{% static 'schedular/KolCha.webp' %}" >
            <form action="ChaKolDetails">
                <button class="event-view"> view here </button>
               </form>
        </div>
        <div>
            <img  class="edu-bang-img" src="{% static 'schedular/ChenCha.webp' %}" >
            <form action="ChaChenDetails">
                <button class="event-view"> view here </button>
               </form>
        </div>
        
        </div>
       
</body>
</html>