<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Alkalami&family=Bungee+Shade&family=Bungee+Spice&family=Poppins:ital,wght@1,600&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'page2.css' %}">
</head>
<body class="body3">
    <div class="big-box">
        <p class="topic"> Welcome to favourite.events</p> 
    </div>

    <div class="eve-2nd-box">
        <p class="edu-bang-topic"> Cultural events in Kolkata </p>
    </div>

    <div>
        <p class="edu-bang-clo"><u>Closed Events </u></p>
    </div>

    <div class="edu-bangd-img">
    <div>
        <img class="edu-bangp-img" src="{% static 'schedular/KolkataCulture1.webp' %}" >
        <form action="CulKolDetails1">
            <button class="event-view"> view here </button>
           </form>
    </div>
    <div>
        <img  class="edu-bangp-img" src="{% static 'schedular/KolkataCulture2.webp' %}" >
        <form action="CulKolDetails2">
            <button class="event-view"> view here </button>
           </form>
    </div>
    
    </div>
</body>
</html>